.content {
  margin:  22px 0  16px 0;
}

.input-file-container {
  position: relative;
  width: 160px;
}

.input-file-trigger {
  display: block;
  padding: 10px 16px;
  background: #39d2b4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.input-file-trigger[disabled] {
  background-color: #90e9d7; /* Cambia el color de fondo */
  color: #4d4c4c; /* Cambia el color del texto */
  cursor: not-allowed; /* Cambia el cursor */
  opacity: 0.5; /* Cambia la opacidad */
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.input-file:hover+.input-file-trigger,
.input-file:focus+.input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}

.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
